footer {
  background-color: #81e9f7;
}

#footer_items {
  display: flex;
  justify-content: space-between;
  padding: 0px 8% 24px 8%;
  align-content: center;
}

#copyright {
  color: #1d1d1d;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  #footer_items {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
